<div class="jumbotron about-jumbo">
	<h1>MIT REAP Faculty in the news</h1>
</div>
<div class="container container-buffered-top newsfeed-container">
	<div class='row'>

		<% @articles.each do |article| %>
			<div class='col-sm-3 article-container'>
				<a href='<%= article.link %>'>
					<div class='article-inner'>
						<div class='article-image-container'>
							<img src='<%= article.picture %>' class='article-image <%= if [1,2,3,4,5,10].include? article.id then "article-image-width" else "article-image-height" end %>'>
						</div>
						<div class='article-description'>
							<span class='article-title'><%= article.title %></span><br/>
							<span class='article-author'><%= article.author %></span>
						</div>
					</div>
				</a>
			</div>
		<% end %>
		
	</div>
</div>