	<div id="mainpic">
		<div class= "img_1">
			<div class="mainpic-text" id="regional-main-text">Regional</div>
			<div class="mainpic-text" id="entrepreneurship-main-text">Entrepreneurship</div>
			<div class="mainpic-text" id="acceleration-main-text">Acceleration</div>
			<div class="mainpic-text" id="program-main-text">Program</div>
			<div id="blurb-main-text">In Partnership with the Martin Trust</br>Center for MIT Entrepreneurship and</br>MIT Sloan Executive Education</div>
		</div>
	</div>
<div class="container">
	<div class="content-row row col-sm-12">
		<div class="col-sm-4 info-col" id="collaborate-col">
			<div class="circle light-blue-reap">
				<i class="fa fa-globe title-icon icon-book"></i>
			</div>
			<h3>About</h3>
			<p><b>What is REAP?</b> Find out more <a href="#">here</a>.</p>
		</div>
		<div class="col-sm-4 info-col info-col-line-double" id="evaluate-col">
			<div class="circle pink-reap">
				<i class="fa fa-book title-icon icon-book"></i>
			</div>
			<h3>The REAP Method</h3>
			<p>Interested in the academia behind our program? Our complete library of REAP literature is available <a href="news_articles#index">here</a>.</p>
		</div>
		<div class="col-sm-4 info-col" id="ideate-col">
			<div class="circle dark-blue-reap">
				<i class="fa fa-check-square title-icon icon-book"></i>
			</div>
			<h3>Next Steps</h3>
			<p>Do you represent a potential REAP partner region?</br><a href='#'>Learn more</a> about our team requirements and application process.</p>
		</div>    	
	</div>
</div> 
<div id="second-pic">
</div>
<div class="container">
	<div class="content">
	    	<div class="row col-sm-12 country-header-row">
	    		<h2 class="padded-header">Partner Regions</h2>
	    	</div>
	      	<div class="row col-sm-12 country-row">
	      		<a href="/places/1" data-no-turbolink>
		      		<div class="circle dark-blue-reap col-sm-3 partner-country-index">
		      			<%= image_tag 'spain.png', class: 'country-img-spain' %>
		      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label-0' %>
		      			<p class="country-label-0">Andalucia (Spain)</p>
		      		</div>
		      	</a>
		      	<a href="/places/2" >
		      		<div class="circle light-blue-reap col-sm-3 partner-country-index">
		      			<%= image_tag 'finland.png', class: 'country-img' %>
		      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label' %>
		      			<p class="country-label">Finland</p>
		      		</div>
		      	</a>
		      	<a href="/places/3" data-no-turbolink>
		      		<div class="circle dark-blue-reap col-sm-3 partner-country-index">
		      			<%= image_tag 'china.png', class: 'country-img-china' %>
		      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label-4' %>
		      			<p class="country-label-4">Hangzhou (China)</p>
		      		</div>
		      	</a>
		      	<a href="/places/4" data-no-turbolink>
		      		<div class="circle light-blue-reap col-sm-3 partner-country-index">
		      			<%= image_tag 'newzealand.png', class: 'country-img' %>
		      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label' %>
		      			<p class="country-label">New Zealand</p>
		      		</div>
		      	</a>
		      	<a href="/places/5" data-no-turbolink>
		      		<div class="circle light-blue-reap col-sm-3 partner-country-index">
		      			<%= image_tag 'scotland.png', class: 'country-img' %>
		      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label' %>
		      			<p class="country-label">Scotland</p>
		      		</div>
		      	</a>
		      	<a href="/places/6" data-no-turbolink>
		      		<div class="circle dark-blue-reap col-sm-3 partner-country-index">
		      			<%= image_tag 'turkey.png', class: 'country-img-turkey' %>
		      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label-2' %>
		      			<p class="country-label-2">Istanbul (Turkey)</p>
		      		</div>
		      	</a>
		      	<a href="/places/7" >
		      		<div class="circle light-blue-reap col-sm-3 partner-country-index">
		      			<%= image_tag 'mexico.png', class: 'country-img-wide' %>
		      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label-3' %>
		      			<p class="country-label-3">Veracruz (Mexico)</p>
		      		</div>
		      	</a>
	      		<div class="circle dark-blue-reap col-sm-3 partner-country-index">
	      			<p class= 'country-apply-label'>See what our team</br>has been up to!</p>
	      			<button class='btn country-apply-button'>Click here</button>
	      		</div>
	      	</div>
	    </div>
	</div>
</div> 
<div id="fourth-pic">
</div>
<div class="container">
	<div class="content">
	    	<div class="row col-sm-12 country-header-row">
	    		<h2 class="padded-header">Our Team</h2>
	    	</div>
	      	<div class="row col-sm-12 country-row">
	      		<a href="http://fmurray.scripts.mit.edu/">
		      		<div class="circle pink-reap col-sm-2 partner-country-index person-circle">
		      			<%= image_tag 'fionamurray.png', class: 'person-img' %>
		      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label-name' %>
		      			<p class="name-label white-text">
		      				Fiona Murray</br>
		      				Professor of Entrepreneurship
		      			</p>
		      		</div>
		      	</a>
	      		<a href="https://entrepreneurship.mit.edu/faculty/bill-aulet">
		      		<div class="circle red-reap col-sm-2 partner-country-index person-circle">
		      			<%= image_tag 'bill.png', class: 'person-img' %>
		      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label-name' %>
		      			<p class="name-label white-text">
		      				Bill Aulet</br>
		      				Director, MIT Entreneurship Center
		      			</p>
		      		</div>
		      	</a>
		      	<a href="http://mitsloan.mit.edu/faculty/detail.php?in_spseqno=41362">
		      		<div class="circle pink-reap col-sm-2 partner-country-index person-circle">
		      			<%= image_tag 'scott.png', class: 'person-img' %>
		      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label-name' %>
		      			<p class="name-label white-text">
		      				Scott Stern</br>
		      				Professor, Management and Tech
		      			</p>
		      		</div>
		      	</a>
	      		<a href="http://mitsloan.mit.edu/faculty/detail.php?in_spseqno=19553">
		      		<div class="circle red-reap col-sm-2 partner-country-index person-circle">
		      			<%= image_tag 'ed.png', class: 'person-img' %>
		      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label-name' %>
		      			<p class="name-label white-text">
		      				Professor Ed Roberts</br>
		      				Founder and Chairman Emeritus
		      			</p>
		      		</div>
		      	</a>
		      	<a href="http://mitsloan.mit.edu/about/detail.php?in_spseqno=34256">
		      		<div class="circle red-reap col-sm-2 partner-country-index person-circle">
		      			<%= image_tag 'georgie.png', class: 'person-img' %>
		      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label-name' %>
		      			<p class="name-label white-text">
		      				Georgina Campbell Flatter</br>
		      				Director, REAP
		      			</p>
		      		</div>
		      	</a>
		      	<a href="http://www.linkedin.com/pub/ahilya-chawla/50/2b/348">
		      		<div class="circle pink-reap col-sm-2 partner-country-index person-circle">
		      			<%= image_tag 'ahilya.png', class: 'person-img' %>
		      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label-name' %>
		      			<p class="name-label white-text">
		      				Ahilya Helen Chawla</br>
		      				Director of PR
		      			</p>
		      		</div>
		      	</a>
		      	<a href="http://www.linkedin.com/pub/taylor-rose/72/a2a/542">
		      		<div class="circle red-reap col-sm-2 partner-country-index person-circle">
		      			<%= image_tag 'taylorrose.png', class: 'person-img' %>
		      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label-name' %>
		      			<p class="name-label white-text">
		      				Taylor Rose</br>
		      				Marketing Manager
		      			</p>
		      		</div>
		      	</a>
	      		<a href="http://katiesiegel.info">
		      		<div class="circle pink-reap col-sm-2 partner-country-index person-circle">
		      			<%= image_tag 'katiesiegel.png', class: 'person-img' %>
		      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label-name' %>
		      			<p class="name-label white-text">
		      				Katie Siegel</br>
		      				Web Developer
		      			</p>
		      		</div>
		      	</a>
	      	</div>
	    </div>
	</div>
</div> 
<div id="third-pic">
</div>
<div id="bottom-info-div" class="gray-reap contact-us">
	<div class="container">
		<h2 class="white-text padded-contact">Contact Us</h2>
		<%= form_tag '/contact/submit' do |f| %>
			<div class="row col-sm-12">
				<div class="col-sm-3">
					<%= text_field_tag 'query', nil, placeholder: 'First Name', class: 'form-control' %>
				</div>
				<div class="col-sm-3">
					<%= text_field_tag 'query', nil, placeholder: 'Last Name', class: 'form-control' %>
				</div>
				<div class="col-sm-6">
					<%= text_field_tag 'query', nil, placeholder: 'Email', class: 'form-control' %>
				</div>
			</div>
			<div class="row padded-contact col-sm-12">
				<div class="col-sm-12">
					<%= text_area_tag 'query', nil, class: 'form-control text-contact-form' %>
				</div>
			</div>
			<div class="row col-sm-12 submit-button-row">
				<div class="col-sm-offset-11 col-sm-1">
					<%= submit_tag 'Submit', class: 'btn' %>
				</div>
			</div>
		<% end %>
		<p class='white-text'>Site by Katie Siegel</p>
	</div>
</div>







