	<div id="mainpic">
		<div class= "img_1">
			<div class="mainpic-text" id="regional-main-text">Regional</div>
			<div class="mainpic-text" id="entrepreneurship-main-text">Entrepreneurship</div>
			<div class="mainpic-text" id="acceleration-main-text">Acceleration</div>
			<div class="mainpic-text" id="program-main-text">Program</div>
			<div id="blurb-main-text">In Partnership with the Martin Trust</br></br>Center for MIT Entrepreneurship and</br></br>MIT Sloan Executive Education</div>
		</div>
	</div>
<div class="container">
	<div class="content">
	    	<div class="row row-padded span12">
	      		<div class="span4 info-col" id="collaborate-col">
	      			<div class="circle light-blue-reap">
	      				<i class="fa fa-globe title-icon icon-book"></i>
	      			</div>
	    			<h3>About</h3>
	    			<p><b>What is REAP?</b> Find out more <a href="#">here</a>.</p>
	    		</div>
	    		<div class="span4 info-col" id="evaluate-col">
		    		<div class="circle pink-reap">
	      				<i class="fa fa-book title-icon icon-book"></i>
	      			</div>
		   			<h3>The REAP Method</h3>
		   			<p>Interested in the academia behind our program? Our complete library of REAP literature is available <a href="news_articles#index">here</a>.</p>
		   		</div>
		   		<div class="span4 info-col" id="ideate-col">
		   			<div class="circle dark-blue-reap">
	      				<i class="fa fa-check-square title-icon icon-book"></i>
	      			</div>
		    		<h3>Next Steps</h3>
		    		<p>Do you represent a potential REAP partner region?</br><a href='#'>Learn more</a> about our team requirements and application process.</p>
		    	</div>
		    	
	    	</div>
	</div>
</div> 
<div id="second-pic">
</div>
<div class="container">
	<div class="content">
	    	<div class="row span12 country-header-row">
	    		<h2 class="padded-header">Partner Regions</h2>
	    	</div>
	      	<div class="row span12 country-row">
	      		<a href="/places/1" data-no-turbolink>
		      		<div class="circle dark-blue-reap span3 partner-country-index">
		      			<%= image_tag 'spain.png', class: 'country-img-spain' %>
		      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label-0' %>
		      			<p class="country-label-0">Andalucia (Spain)</p>
		      		</div>
		      	</a>
		      	<a href="/places/2" >
		      		<div class="circle light-blue-reap span3 partner-country-index">
		      			<%= image_tag 'finland.png', class: 'country-img' %>
		      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label' %>
		      			<p class="country-label">Finland</p>
		      		</div>
		      	</a>
		      	<a href="/places/3" data-no-turbolink>
		      		<div class="circle dark-blue-reap span3 partner-country-index">
		      			<%= image_tag 'china.png', class: 'country-img-china' %>
		      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label-4' %>
		      			<p class="country-label-4">Hangzhou (China)</p>
		      		</div>
		      	</a>
		      	<a href="/places/4" data-no-turbolink>
		      		<div class="circle light-blue-reap span3 partner-country-index">
		      			<%= image_tag 'newzealand.png', class: 'country-img' %>
		      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label' %>
		      			<p class="country-label">New Zealand</p>
		      		</div>
		      	</a>
		      	<a href="/places/5" data-no-turbolink>
		      		<div class="circle light-blue-reap span3 partner-country-index">
		      			<%= image_tag 'scotland.png', class: 'country-img' %>
		      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label' %>
		      			<p class="country-label">Scotland</p>
		      		</div>
		      	</a>
		      	<a href="/places/6" data-no-turbolink>
		      		<div class="circle dark-blue-reap span3 partner-country-index">
		      			<%= image_tag 'turkey.png', class: 'country-img-turkey' %>
		      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label-2' %>
		      			<p class="country-label-2">Istanbul (Turkey)</p>
		      		</div>
		      	</a>
		      	<a href="/places/7" >
		      		<div class="circle light-blue-reap span3 partner-country-index">
		      			<%= image_tag 'mexico.png', class: 'country-img-wide' %>
		      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label-3' %>
		      			<p class="country-label-3">Veracruz (Mexico)</p>
		      		</div>
		      	</a>
	      		<div class="circle dark-blue-reap span3 partner-country-index">
	      			<p class= 'country-apply-label'>See what our team</br>has been up to!</p>
	      			<button class='btn country-apply-button'>Click here</button>
	      		</div>
	      	</div>
	    </div>
	</div>
</div> 
<div id="third-pic">
</div>
<div class="container">
	<div class="content">
	    	<div class="row span12 country-header-row">
	    		<h2 class="padded-header">Our Team</h2>
	    	</div>
	      	<div class="row span12 country-row">
	      		<a href="http://fmurray.scripts.mit.edu/">
		      		<div class="circle pink-reap span2 partner-country-index">
		      			<%= image_tag 'fionamurray.png', class: 'person-img' %>
		      		</div>
		      	</a>
	      		<a href="http://mitsloan.mit.edu/faculty/detail.php?in_spseqno=9118">
		      		<div class="circle red-reap span2 partner-country-index">
		      			<%= image_tag 'bill.png', class: 'person-img' %>
		      		</div>
		      	</a>
		      	<a href="https://mitsloan.mit.edu/faculty/detail.php?in_spseqno=41362">
		      		<div class="circle pink-reap span2 partner-country-index">
		      			<%= image_tag 'scott.png', class: 'person-img' %>
		      		</div>
		      	</a>
	      		<a href="https://mitsloan.mit.edu/faculty/detail.php?in_spseqno=19553">
		      		<div class="circle pink-reap span2 partner-country-index">
		      			<%= image_tag 'ed.jpeg', class: 'country-img' %>
		      		</div>
		      	</a>
	      		<div class="circle pink-reap span2 partner-country-index">
	      			<%= image_tag 'georgie.jpg', class: 'country-img' %>
	      		</div>
	      		<div class="circle pink-reap span2 partner-country-index">
	      			<%= image_tag 'ahilya.jpg', class: 'country-img' %>
	      		</div>
	      		<div class="circle red-reap span2 partner-country-index">
	      			<%= image_tag 'taylorrose.jpg', class: 'country-img' %>
	      		</div>
	      		<a href="http://katiesiegel.info">
		      		<div class="circle pink-reap span2 partner-country-index">
		      			<%= image_tag 'katiesiegel.jpg', class: 'country-img' %>
		      		</div>
		      	</a>
	      	</div>
	    </div>
	</div>
</div> 
<div id="bottom-info-div" class="gray-reap">
</div>