	<div id="mainpic">
		<div class= "img_1">
			<div class="mainpic-text" id="regional-main-text">Regional</div>
			<div class="mainpic-text" id="entrepreneurship-main-text">Entrepreneurship</div>
			<div class="mainpic-text" id="acceleration-main-text">Acceleration</div>
			<div class="mainpic-text" id="program-main-text">Program</div>
			<div id="blurb-main-text">In Partnership with the Martin Trust</br></br>Center for MIT Entrepreneurship and</br></br>MIT Sloan Executive Education</div>
		</div>
	</div>
<div class="container">
	<div class="content">
	    	<div class="row row-padded span12">
	      		<div class="span4 info-col" id="collaborate-col">
	      			<div class="circle light-blue-reap">
	      				<i class="fa fa-globe title-icon icon-book"></i>
	      			</div>
	    			<h3>About</h3>
	    			<p><b>What is REAP?</b> We bring together representatives from government, economic development, entrepreneurs, universities, risk capital, and large corporations committed to accelerating their regions’ innovation-driven entrepreneurial ecosystems as drivers of regional prosperity and job creation.</p>
	    		</div>
		   		<div class="span4 info-col" id="ideate-col">
		   			<div class="circle pink-reap">
	      				<i class="fa fa-check-square title-icon icon-book"></i>
	      			</div>
		    		<h3>Next Steps</h3>
		    		<p><button class='btn country-apply-button'>Apply Now!</button></p>
		    	</div>
		    	<div class="span4 info-col" id="evaluate-col">
		    		<div class="circle dark-blue-reap">
	      				<i class="fa fa-book title-icon icon-book"></i>
	      			</div>
		   			<h3>Learn More</h3>
		   			<p>Take advantage of MIT’s expertise in the development of entrepreneurial ecosystems. Click <a href='#'>here</a> for more resources.</p>
		   			<p><%= link_to 'Read Latest News', 'news_articles#index', class: 'btn spaced-font-button' %></p>
		   		</div>
	    	</div>
	</div>
</div> 
<div id="second-pic">
</div>
<div class="container">
	<div class="content">
	    	<div class="row span12 country-header-row">
	    		<h2 class="padded-header">Partner Countries</h2>
	    	</div>
	      	<div class="row span12 country-row">
	      		<a href="/places/1" data-no-turbolink>
		      		<div class="circle dark-blue-reap span3 partner-country-index">
		      			<%= image_tag 'spain.png', class: 'country-img-spain' %>
		      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label-0' %>
		      			<p class="country-label-0">Spain (Andalucia)</p>
		      		</div>
		      	</a>
		      	<a href="/places/2" >
		      		<div class="circle light-blue-reap span3 partner-country-index">
		      			<%= image_tag 'finland.png', class: 'country-img' %>
		      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label' %>
		      			<p class="country-label">Finland</p>
		      		</div>
		      	</a>
		      	<a href="/places/3" data-no-turbolink>
		      		<div class="circle dark-blue-reap span3 partner-country-index">
		      			<%= image_tag 'china.png', class: 'country-img-china' %>
		      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label-4' %>
		      			<p class="country-label-4">China (Hangzhou)</p>
		      		</div>
		      	</a>
		      	<a href="/places/4" data-no-turbolink>
		      		<div class="circle light-blue-reap span3 partner-country-index">
		      			<%= image_tag 'newzealand.png', class: 'country-img' %>
		      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label' %>
		      			<p class="country-label">New Zealand</p>
		      		</div>
		      	</a>
		      	<a href="/places/5" data-no-turbolink>
		      		<div class="circle light-blue-reap span3 partner-country-index">
		      			<%= image_tag 'scotland.png', class: 'country-img' %>
		      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label' %>
		      			<p class="country-label">Scotland</p>
		      		</div>
		      	</a>
		      	<a href="/places/6" data-no-turbolink>
		      		<div class="circle dark-blue-reap span3 partner-country-index">
		      			<%= image_tag 'turkey.png', class: 'country-img-turkey' %>
		      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label-2' %>
		      			<p class="country-label-2">Turkey (Istanbul)</p>
		      		</div>
		      	</a>
		      	<a href="/places/7" >
		      		<div class="circle light-blue-reap span3 partner-country-index">
		      			<%= image_tag 'mexico.png', class: 'country-img-wide' %>
		      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label-3' %>
		      			<p class="country-label-3">Mexico (Veracruz)</p>
		      		</div>
		      	</a>
	      		<div class="circle dark-blue-reap span3 partner-country-index">
	      			<p class= 'country-apply-label'>Join us:</br>Apply now!</p>
	      			<button class='btn country-apply-button'>Click here</button>
	      		</div>
	      	</div>
	    </div>
	</div>
</div> 
<div id="third-pic">
</div>
<div class="container">
	<div class="content">
	    	<div class="row span12 country-header-row">
	    		<h2 class="padded-header">Our Team</h2>
	    	</div>
	      	<div class="row span12 country-row">
	      		<div class="circle-smaller pink-reap span2 partner-country-index">
	      			<%= image_tag 'fionamurray.jpg', class: 'country-img' %>
	      		</div>
	      		<div class="circle-smaller red-reap span2 partner-country-index">
	      			<%= image_tag 'imagecomingsoon.jpg', class: 'country-img' %>
	      		</div>
	      		<div class="circle-smaller pink-reap span2 partner-country-index">
	      			<%= image_tag 'imagecomingsoon.jpg', class: 'country-img' %>
	      		</div>
	      		<div class="circle-smaller red-reap span2 partner-country-index">
	      			<%= image_tag 'taylorrose.jpg', class: 'country-img' %>
	      		</div>
	      		<div class="circle-smaller pink-reap span2 partner-country-index">
	      			<%= image_tag 'katiesiegel.jpg', class: 'country-img' %>
	      		</div>
	      	</div>
	    </div>
	</div>
</div> 
<div id="bottom-info-div" class="gray-reap">
</div>