<div id="mainpic">
	<div class= "img_1">
		<div class="mainpic-text" id="regional-main-text">Regional</div>
		<div class="mainpic-text" id="entrepreneurship-main-text">Entrepreneurship</div>
		<div class="mainpic-text" id="acceleration-main-text">Acceleration</div>
		<div class="mainpic-text" id="program-main-text">Program</div>
		<div id="blurb-main-text">In Partnership with the Martin Trust</br>Center for MIT Entrepreneurship and</br>MIT Sloan Executive Education</div>
	</div>
</div>
<div class="container">
	<div class="content-row row col-sm-12">
		<div class="col-sm-4 info-col" id="collaborate-col">
			<div class="circle light-blue-reap">
				<i class="fa fa-globe title-icon icon-book"></i>
			</div>
			<h3>About</h3>
			<p>What is MIT REAP? Who participates? How is the program structured?  </br>Find out more <a href="/about">here</a>.</p>
		</div>
		<div class="col-sm-4 info-col info-col-line-double" id="evaluate-col">
			<div class="circle pink-reap">
				<i class="fa fa-book title-icon icon-book"></i>
			</div>
			<h3>The REAP Advantage</h3>
			<p>Interested in learning about our MIT faculty and action learning approach? Click <a href="news_articles#index">here</a> for information.</p>
		</div>
		<div class="col-sm-4 info-col" id="ideate-col">
			<div class="circle dark-blue-reap">
				<i class="fa fa-check-square title-icon icon-book"></i>
			</div>
			<h3>Next Steps</h3>
			<p>Do you represent a potential REAP partner region?</br><a href='/apply'>Learn more</a> about our team requirements and application process.</p>
		</div>    	
	</div>
</div> 
<div id="second-pic">
</div>
<div class="container" id="partner-regions">
	<div class="content">
	    	<div class="row col-md-12 country-header-row">
	    		<h2 class="padded-header">Partner Regions</h2>
	    	</div>
	      	<div class="row country-row">
	      		<a href="/places/1" data-no-turbolink>
	      			<div class='col-md-3 partner-country-index'>
		      			<div class="circle dark-blue-reap partner-country-index-2">
		      				<%= image_tag 'spain.png', class: 'country-img-spain' %>
			      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label-0' %>
			      			<p class="country-label-0">Andalucia (Spain)</p>
		      			</div>
		      			
		      		</div>
		      	</a>
		      	<a href="/places/2" >
		      		<div class='col-md-3 partner-country-index'>
		      			<div class="circle light-blue-reap partner-country-index-2">
		      				<%= image_tag 'finland.png', class: 'country-img' %>
		      				<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label' %>
		      				<p class="country-label-finland">Finland</p>
		      			</div>
		      		</div>
		      	</a>
		      	<a href="/places/3" data-no-turbolink>
		      		<div class='col-md-3 partner-country-index'>
		      			<div class="circle dark-blue-reap partner-country-index-2">
		      				<%= image_tag 'china.png', class: 'country-img-china' %>
			      			<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label-4' %>
			      			<p class="country-label-4">Hangzhou (China)</p>
		      			</div>
		      		</div>
		      	</a>
		      	<a href="/places/4" data-no-turbolink>
		      		<div class='col-md-3 partner-country-index'>
		      			<div class="circle light-blue-reap partner-country-index-2">
		      				<%= image_tag 'newzealand.png', class: 'country-img-nz' %>
		      				<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label' %>
		      				<p class="country-label-nz">New Zealand</p>
		      			</div>
		      		</div>
		      	</a>
		      	<a href="/places/5" data-no-turbolink>
		      		<div class='col-md-3 partner-country-index'>
		      			<div class="circle light-blue-reap partner-country-index-2">
		      				<%= image_tag 'scotland.png', class: 'country-img-scotland' %>
		      				<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label' %>
		      				<p class="country-label-scotland">Scotland</p>
		      			</div>
		      		</div>
		      	</a>
		      	<a href="/places/6" data-no-turbolink>
		      		<div class='col-md-3 partner-country-index'>
		      			<div class="circle dark-blue-reap  partner-country-index-2">
		      				<%= image_tag 'turkey.png', class: 'country-img-turkey' %>
		      				<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label-2' %>
		      				<p class="country-label-2">Istanbul (Turkey)</p>
		      			</div>
		      		</div>
		      	</a>
		      	<a href="/places/7" >
		      		<div class='col-md-3 partner-country-index'>
		      			<div class="circle light-blue-reap partner-country-index-2">
		      				<%= image_tag 'mexico.png', class: 'country-img-wide' %>
		      				<%= image_tag 'bottomcircle_label.png', text: 'hello', class: 'bottom-circle-label-3' %>
		      				<p class="country-label-3">Veracruz (Mexico)</p>
		      			</div>
		      		</div>
		      	</a>
		      	<div class='col-md-3 partner-country-index'>
	      			<div class="circle dark-blue-reap partner-country-index-2">
	      				<p class= 'country-apply-label'>Cohort Two:
		      				<button type="button" class="btn btn-default cohort-button" data-container="body" data-toggle="popover" data-placement="bottom" data-content="List of cohort two countries coming soon!" data-original-title="" title="" id='cohort2show'>
					        	Just Announced!
					        </button>
		      			</p>
	      			</div>
	      		</div>
	      	</div>
	    </div>
	</div>
</div> 
<div id="fourth-pic">
</div>
<div class="container" id="our-team">
	<div class="content">
	    	<div class="row col-md-12 country-header-row">
	    		<h2 class="padded-header">Our Team</h2>
	    	</div>
	      	<div class="row country-row">
	      		<a href="http://fmurray.scripts.mit.edu/">
	      			<div class='col-md-3 person-holder'>
		      			<div class="circle pink-reap person-circle">
		      				<%= image_tag 'fionamurray.png', class: 'person-img' %>
			      			<div class="circle gray-reap overlay-circle"></div>
			      			<p class="name-label white-text">
			      				Fiona Murray</br>
			      				Associate Dean of Innovation, MIT
			      			</p>
		      			</div>
		      		</div>
		      	</a>
	      		<a href="https://entrepreneurship.mit.edu/faculty/bill-aulet">
	      			<div class='col-md-3 person-holder'>
		      			<div class="circle red-reap person-circle">
		      				<%= image_tag 'bill.png', class: 'person-img' %>
			      			<div class="circle gray-reap overlay-circle"></div>
			      			<p class="name-label white-text">
			      				Bill Aulet</br>
			      				Managing Director and Senior Lecturer, Martin Trust Center for MIT Entrepreneurship
			      			</p>
		      			</div>
		      		</div>
		      	</a>
		      	<a href="http://mitsloan.mit.edu/faculty/detail.php?in_spseqno=41362">
		      		<div class='col-md-3 person-holder'>
		      			<div class="circle pink-reap person-circle">
		      				<%= image_tag 'scott.png', class: 'person-img' %>
			      			<div class="circle gray-reap overlay-circle"></div>
			      			<p class="name-label white-text">
			      				Scott Stern</br>
			      				Professor of Management of Technology
			      			</p>
		      			</div>
		      		</div>
		      	</a>
	      		<a href="http://mitsloan.mit.edu/faculty/detail.php?in_spseqno=19553">
	      			<div class='col-md-3 person-holder'>
		      			<div class="circle red-reap person-circle">
		      				<%= image_tag 'ed.png', class: 'person-img' %>
			      			<div class="circle gray-reap overlay-circle"></div>
			      			<p class="name-label white-text">
			      				Professor Ed Roberts</br>
			      				Founder and Chair, Martin Trust Center for MIT Entrepreneurship
			      			</p>
		      			</div>
		      		</div>
		      	</a>
		      	<a href="http://mitsloan.mit.edu/about/detail.php?in_spseqno=34256">
		      		<div class='col-md-3 person-holder'>
		      			<div class="circle red-reap person-circle">
		      				<%= image_tag 'georgie.png', class: 'person-img' %>
			      			<div class="circle gray-reap overlay-circle"></div>
			      			<p class="name-label white-text">
			      				Georgina Campbell Flatter</br>
			      				Executive Director of MIT REAP
			      			</p>
		      			</div>
		      		</div>
		      	</a>
		      	<a href="http://www.linkedin.com/pub/ahilya-chawla/50/2b/348">
		      		<div class='col-md-3 person-holder'>
		      			<div class="circle pink-reap person-circle">
		      				<%= image_tag 'ahilya.png', class: 'person-img' %>
			      			<div class="circle gray-reap overlay-circle"></div>
			      			<p class="name-label white-text">
			      				Ahilya Helen Chawla</br>
			      				Director of PR, MIT REAP
			      			</p>
		      			</div>
		      		</div>
		      	</a>
		      	<a href="http://www.linkedin.com/pub/taylor-rose/72/a2a/542">
		      		<div class='col-md-3 person-holder'>
		      			<div class="circle red-reap person-circle">
		      				<%= image_tag 'taylorrose.png', class: 'person-img' %>
			      			<div class="circle gray-reap overlay-circle"></div>
			      			<p class="name-label white-text">
			      				Taylor Rose</br>
			      				Marketing Manager, MIT REAP
			      			</p>
		      			</div>
		      		</div>
		      	</a>
	      		<a href="http://katiesiegel.info">
	      			<div class='col-md-3 person-holder'>
		      			<div class="circle pink-reap person-circle">
		      				<%= image_tag 'katiesiegel.png', class: 'person-img' %>
			      			<div class="circle gray-reap overlay-circle"></div>
			      			<p class="name-label white-text">
			      				Katie Siegel</br>
			      				Web Developer, MIT REAP
			      			</p>
		      			</div>
		      		</div>
		      	</a>
	      	</div>
	    </div>
	</div>
</div> 
<div id="third-pic">
</div>
<div id="bottom-info-div" class="gray-reap contact-us">
	<div class="container">
		<h2 class="white-text padded-contact">Contact Us</h2>
		<%= form_tag '/contact' do |f| %>
			<div class="row col-sm-12">
				<div class="col-sm-3">
					<%= text_field_tag 'first_name', nil, placeholder: 'First Name', class: 'form-control' %>
				</div>
				<div class="col-sm-3">
					<%= text_field_tag 'last_name', nil, placeholder: 'Last Name', class: 'form-control' %>
				</div>
				<div class="col-sm-6">
					<%= text_field_tag 'email', nil, placeholder: 'Email', class: 'form-control' %>
				</div>
			</div>
			<div class="row padded-contact col-sm-12">
				<div class="col-sm-12">
					<%= text_area_tag 'body', nil, class: 'form-control text-contact-form' %>
				</div>
			</div>
			<div class="row col-sm-12 submit-button-row">
				<div class="col-sm-offset-11 col-sm-1">
					<%= submit_tag 'Submit', class: 'btn' %>
				</div>
			</div>
		<% end %>
		<p class='white-text'>Site by Katie Siegel</p>
	</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46255924-1', 'mit.edu');
  ga('send', 'pageview');

</script>






