<div class='container'>
	<h1 class='main-country-title dark-blue-reap'><%= @place.name %></h1>
	<div class='row row-people dark-blue-reap'>
		<div class="team-member-div span1">
			<p class="team-p">T</p>
			<p class="team-p">E</p>
			<p class="team-p">A</p>
			<p class="team-p">M</p>
		</div>
		<% color = 0 %>
		<% @place.individuals.each do |individual| %>
			<div class="team-member-div <%= @colors[color] %>-reap <%= @place.name == 'New Zealand' ? 'span2-7' : 'span2' %> <%= if @place.name == 'Mexico (Veracruz)' then 'span2-4' end %> team-member-name" id="individual-<%= @place.individuals.index(individual)%>">
				<h6><%= individual.name %></h6>
				<p class="individual-title"><%= individual.title %></p>
			</div>
			<% color = (color + 1)%3 %>
		<% end %>
	</div>
	<%= content_tag "div", id: "person-bio", data: {url: @place.individuals} do %>
		
	<% end %>
	<div class='graph-border span12'>
		<div class='row row-analytics'>
			<div class='graph-analytics-block gab-1 dark-blue-reap span6 fit1'>
				<h4 class="white-title">Key Challenge</h4>
				<p class="less-padding-bottom">New Zealand aims to become the innovation-hub of the Asia-Pacific rim. It plans to achieve this through a competitiveness plan for several sectors.</p>
				<h4 class="white-title no-padding-bottom">80.00 <i class="fa fa-caret-up"></i> 14.25%</h4>
			</div>
			<div class='graph-analytics-block dark-blue-reap span3 fit1'>
				<h4 class="white-title">REAP Index</h4>
				<%= image_tag 'chart1_nz.png', class: 'less-padding-bottom' %>
				<p class="no-padding-bottom">65.00 <i class="fa fa-caret-up"></i> 10%</p>
			</div>
			<div class='graph-analytics-block gab-2 dark-blue-reap span2'>
				<h5 class="white-title">Money Invested in University Startups</h5>
				<p class="no-padding-bottom">$1 billion <i class="fa fa-caret-up"></i> 14.15%</p>
			</div>
			<div class='graph-analytics-block dark-blue-reap span3'>
				<h4 class="white-title">Innovation Capacity</h4>
				<%= image_tag 'innov_chart1.png', class: 'more-padding-graph' %>
				<p class="no-padding-bottom">20.00 <i class="fa fa-caret-up"></i> 12.7%</p>
			</div>
			<div class='graph-analytics-block dark-blue-reap span3'>
				<h4 class="white-title">Entrepreneurship Capacity</h4>
				<%= image_tag 'entre_chart1.png', class: 'more-padding-graph' %>
				<p class="no-padding-bottom">23.00 <i class="fa fa-caret-up"></i> 12%</p>
			</div>
			<div class='graph-analytics-block gab-2 dark-blue-reap span2'>
				<h5 class="white-title">New PhD Graduates, 2013</h5>
				<p class="no-padding-bottom">10.00 <i class="fa fa-caret-down"></i> 12.57%</p>
			</div>
			<div class='graph-analytics-block gab-2 dark-blue-reap span2 gab-3'>
				<h5 class="white-title"># of University Spin-offs, 2013</h5>
				<p class="no-padding-bottom">200.00 <i class="fa fa-caret-up"></i> 10.65%</p>
			</div>
			<div class='graph-analytics-block gab-2 dark-blue-reap span2'>
				<h5 class="white-title">Catalyst</h5>
				<p class="no-padding-bottom">Prizes: 34</p>
			</div>
			<div class='graph-analytics-block gab-2 dark-blue-reap span2 gab-3'>
				<h5 class="white-title">Location Quotient</h5>
				<p class="no-padding-bottom"><i class="fa fa-check"></i> <a href="http://www.clusterobservatory.eu/index.html#!view=regionalmapping;i=V16140;y=2011;r=NC10;rsl=0;rp=NC10;s=CC20-it;sp=CC20-STND;p=map;ll=56.3,26.1;z=4" class="dashboard-cluster-metric" style="color:white;" target="_blank">Biotech Innovation Cluster<br></a></p>
				<p class="no-padding-bottom"><i class="fa fa-check"></i> <a href="http://www.clusterobservatory.eu/index.html#!view=regionalmapping;i=V16140;y=2011;r=NC10;rsl=0;rp=NC10;s=CC20-it;sp=CC20-STND;p=map;ll=56.3,26.1;z=4" class="dashboard-cluster-metric" style="color:white;" target="_blank">High Tech Cluster<br></a></p>
				<p class="no-padding-bottom"><i class="fa fa-check"></i> <a href="http://www.clusterobservatory.eu/index.html#!view=regionalmapping;i=V16140;y=2011;r=NC10;rsl=0;rp=NC10;s=CC20-it;sp=CC20-STND;p=map;ll=56.3,26.1;z=4" class="dashboard-cluster-metric" style="color:white;" target="_blank">Automobile Innovation Cluster<br></a></p>
			</div>
		</div>
	</div>
</div>

