<nav class="navbar navbar-default navbar-reap navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><%= image_tag("reaplogo.png", id: 'reaplogo') %></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/" class='navbar-link'>Home</a></li>
      	<li><a href="/about" class='navbar-link'>About</a></li>
        <li><%= link_to 'MIT Advantage', '/advantage.pdf', class: 'navbar-link' %></li>
        <li><%= link_to 'Partner Regions', places_url(:anchor => "partner-regions"), class: 'navbar-link', id: 'partner-regions-link' %></li>
        <li><%= link_to 'Our Team', places_url(:anchor => "our-team"), class: 'navbar-link', id: 'our-team-link' %></li>
        <li><a href="/apply" class='navbar-link'>Next Steps</a></li>
        <li><a href="/news_articles" class='navbar-link'>Resources</a></li>
        <li><%= link_to 'Contact Us', places_url(:anchor => "bottom-info-div"), class: 'navbar-link extra-right-margin', id: 'contact-us-link' %></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>