<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "MIT REAP (beta)" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "MIT REAP (beta)" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46255924-1', 'mit.edu');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div>
      <%= render 'layouts/navigation' %>
    </div>
    <main role="main">
      <div class='buffer-top'></div>
      <% if flash %>
        <% flash.each do |name, msg| %>
            <div class="flash-msg">
              <div class="alert alert-<%= name == :notice ? "success" : "danger" %>">
                <a class="close" data-dismiss="alert">x</a>
                <%= content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String) %>
              </div>
            </div>
        <% end %>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>